<section class="projects-section">
    <h3 class="center-text">Projects</h3>
    <div class="project-card">
        <a href="assets/screenshot rewrite.jpg">
            <img src="assets/screenshot rewrite.jpg" alt="project-imaage" width="100%">
        </a>
        <h3>Rewrite App</h3>
        <div class="project-year-and-stack">
            <div class="project-year">2023</div>
            <div>Flutter App</div>
        </div>
        <p>A flutter mobile application that helps rewrite sentences
            and is also capable of rewriting these sentences in french, spanish, chinese, yoruba and hausa. </p>
    </div>
    <div class="project-card">
        <a href="assets/bookspace screenshot.png">
            <img src="assets/bookspace screenshot.png" alt="project-imaage" width="100%">
        </a>
        <h3>Book Space App</h3>
        <div class="project-year-and-stack">
            <div class="project-year">2022</div>
            <div>Android Cloud-based pdf reader</div>
        </div>
        <p>A cloud-based pdf reader that print helps users manage
            and access their pdf books all from one place. The project is built using firebase suite of tools for
            authentication and database and media storage. See demo <a
                href="https://www.linkedin.com/posts/christian-onyisi-3717971a1_developer-firebase-gads2022-activity-7014661685672075264-dJBz?utm_source=share&utm_medium=member_desktop">here</a>.
        </p>
    </div>

</section>