<section class="experience-section">
    <h3 class="center-text">Experience</h3>
    <div class="experience-card">
        <h3>Web Design Instructor (part-time)</h3>
        <div class="date-and-company">
            <p>August 2022</p>
            <p class="divider">|</p>
            <p>TbuizTech</p>
        </div>
        <p class="task-accomplishment">
            Trained students on the basics of web design using HTML5, CSS3 and JavaScript
        </p>
    </div>
    <div class="experience-card">
        <h3>Android Design and Coding Instructor</h3>
        <div class="date-and-company">
            <p>Jul 2022</p>
            <p class="divider">|</p>
            <p>Center4Tech</p>
        </div>
        <p class="task-accomplishment">Trained teenagers between the ages of 13 - 18 years the
            basics of designing and building android mobile applications
        </p>
    </div>
    <div class="experience-card">
        <h3>Android Developer Intern</h3>
        <div class="date-and-company">
            <p>Aug 2021</p>
            <p class="divider">|</p>
            <p>HNG INTERNSHIP 8.0</p>
        </div>
        <p class="task-accomplishment">Collaborated with a team of
            android developers and back-end developers to build an android chat application
        </p>

    </div>

</section>