/* You can add global styles to this file, and also import other style files */
:root {
    --dark-color: #21243D;
    --dark-blue: #142850;
    --required-blue: #EDF7FA;
    --light-blue: #8695A4;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: var(--dark-color);
    font-family: 'Heebo', sans-serif;
}