.heading-section{
    margin-left: 10%;
    margin-right: 10%;
    max-width: 900px;
    padding-bottom: 30px;
    padding-top: 30px;

}

.heading-section img {
    border-radius: 50%;
    margin: 30px auto;
}

.heading-section p {
    margin-bottom: 30px;
}

.heading-section h3, .heading-section li{
    text-align: center;
    list-style-type: none;
}

.profile-image-container{
    margin: auto;
    width: max-content;
}

.intro-heading {
    font-size: 40px;
    text-align: center;
    margin-top: 34px;
    margin-bottom: 40px;
}

.center-text {
    text-align: center;
}

.personal-links {
    margin: auto;
    display: flex;
    justify-content: space-between;
    
    
}

@media only screen and (min-width: 768px) {
    .profile-section {
        display: flex;
        flex-direction: row-reverse;
        padding: 0px 20px 0px 20px;
    
    }
    .heading-section {
        margin: auto;
    }

    .heading-section h3,.heading-section li{
        /* margin-left: 25px; */
        text-align: left;
    }

    .heading-section h3 {
        margin-top: 30px;
    }

    .profile-image-container {
        margin-right: 0px;
    }
    .heading-and-about {
        max-width: 500px;
    }
    .intro-heading, .about-text  {
        text-align: left;
    }

    #about-text {
        margin: 0;
    }
}