<section class="heading-section">

    <div class="profile-section">
        <div class="profile-image-container">

            <img src="assets/christian_onyisi.jpg" alt="christian.jpg">
            <div class="personal-links">
                <a href="https://github.com/krysnkem" target="_blank">
                    <img src="assets/icons/github.svg" alt="github.svg" width="30px">
                </a>
                <a href="https://www.linkedin.com/in/christian-onyisi-3717971a1/" target="_blank">
                    <img src="assets/icons/Linkedin.svg" alt="github.svg" width="30px">
                </a>
                <a href="https://twitter.com/NkemKrys" target="_blank">
                    <img src="assets/icons/twitter.svg" alt="github.svg" width="30px">
                </a>
            </div>
        </div>
        <div class="heading-and-about">
            <h2 class="intro-heading">
                Hi, I am Christian,
                <br>A Mobile Developer
            </h2>
            <p class="about-text center-text" id="about-text">
                An Innovative and analytical thinker with experience in
                creating native
                Android
                mobile
                applications with the Kotlin programming language and cross-platform mobile applications with the
                flutter
                framework.
            </p>
            <h3>Skills:</h3>
            <ul>
                <li>Android Development with Kotlin programming language.</li>
                <li>Flutter development with Dart.</li>
                <li> Web design with HTML5, CSS3 and JavaScript</li>
                <li> Rest API integration, firebase on mobile </li>
            </ul>


        </div>
    </div>

</section>